!!!5
html(ng-app="dont_feed")
    head
        title Don't Feed!
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")

        link(rel="stylesheet", href="public/css/foundation.css")
        link(rel="stylesheet", href="public/css/normalize.css")
        link(rel="stylesheet", href="public/lib/font-awesome.css")
        link(rel="stylesheet", href="public/lib/animate.css")

        script(src="public/lib/jquery-1.9.1.js")
        script(src="public/js/vendor/custom.modernizr.js")
        script(src="public/lib/socket.io.js")
        script(src="public/lib/underscore.js")

        script(src="public/lib/angular.js")
        script(src="public/js/script.js")
        script(src="public/js/TopFeeders.js")

        link(rel="stylesheet", href="public/css/screen.css")


    body
        nav.top-bar
            ul.title-area
                li.name
                    h1
                        a(href='/') Don't Feed!
        if (!user)
            a(href="/login") Login
        if (user)
            p Logged in as #{user.username}


        div(ng-controller="TopFeeders")
            div.row
                
                div.large-6.columns
                    h1 Top Feeders
                    ul.small-block-grid-1
                        li.radius.panel(ng-repeat="feeder in feeders | orderBy:'feed_points - pro_points':true") 
                            div.row
                                div.small-3.columns
                                    h1.feed_points {{feeder.feed_points - feeder.pro_points}}
                                div.small-7.columns
                                    h3.subheader {{feeder.name}}
                                    small Region: {{feeder.region}}
                                div.small-2.columns
                                    ul.right.stacked-buttons
                                        li
                                            a.button(ng-click="addFeedPoints(feeder)") Feeder
                                        li
                                            a.button(ng-click="removeFeedPoints(feeder)") Nonfeeder

                div.large-6.columns
                    h1 Top Non-feeders
                    ul.small-block-grid-1
                        li.radius.panel(ng-repeat="nonfeeder in nonFeeders | orderBy:'pro_points - feed_points':true") 
                            div.row
                                div.small-3.columns
                                    h1.feed_points {{nonfeeder.pro_points - nonfeeder.feed_points}}
                                div.small-7.columns
                                    h3.subheader {{nonfeeder.name}}
                                    small Region: {{nonfeeder.region}}
                                div.small-2.columns
                                    ul.right.stacked-buttons
                                        li
                                            a.button(ng-click="addFeedPoints(nonfeeder)") Feeder
                                        li
                                            a.button(ng-click="removeFeedPoints(nonfeeder)") Nonfeeder

            div.row  
                form(ng-submit="watchSummoner()")
                    label 
                        h5 Search a summoner to add to your watch list:
                    input(type="text", ng-model="summonerName", placeholder="Summoner Name")
                div#alertbox.alert-box.round(class="{{alertOptions.type}}")
                    | {{alertOptions.message}}
                    //- a.close(close-alert) &times;
                h6 Watch List:
                div.small-10.columns.small-centered
                    ul.small-block-grid-1
                        li.panel(ng-repeat="watch in watchList") 
                             div.row
                                div.small-3.columns
                                    h1.feed_points {{watch.feed_points - watch.pro_points}}
                                div.small-7.columns
                                    h3.subheader {{watch.name}}
                                    small Region: {{watch.region}}
                                div.small-2.columns
                                    ul.right.stacked-buttons
                                        li
                                            a.button(ng-click="addFeedPoints(watch)") Feeder
                                        li
                                            a.button(ng-click="removeFeedPoints(watch)") Nonfeeder
        hr
        div.powered-by
            div.row
                small Powered by:
                ul.inline-list.powered-by-ul
                    li
                        a.elophant(href="//elophant.com")
                            img(src="/public/img/elophant_logo.png", title="Elophant", target="_blank")
                    li
                        a.github(href="//github.com/jerechua/dont_feed", target="_blank") 
                            span
                                i.icon-github
                                | GitHub



        //- Foundation stuff
        script(src="public/js/foundation/foundation.js")
        script(src="public/js/foundation/foundation.alerts.js")
        script(src="public/js/foundation/foundation.clearing.js")
        script(src="public/js/foundation/foundation.cookie.js")
        script(src="public/js/foundation/foundation.dropdown.js")
        script(src="public/js/foundation/foundation.forms.js")
        script(src="public/js/foundation/foundation.joyride.js")
        script(src="public/js/foundation/foundation.magellan.js")
        script(src="public/js/foundation/foundation.orbit.js")
        script(src="public/js/foundation/foundation.placeholder.js")
        script(src="public/js/foundation/foundation.reveal.js")
        script(src="public/js/foundation/foundation.section.js")
        script(src="public/js/foundation/foundation.tooltips.js")
        script(src="public/js/foundation/foundation.topbar.js")


        script(type="text/javascript")

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-39156909-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        
