
.powered-by {
    /*background: black;*/
    /*color:white;*/

}
.stacked-buttons {
    list-style: none;
    margin-top: 10px;
}

.stacked-buttons a {
    margin:0;
}

.stacked-buttons > li {
    width: 130px;
    height:50%;
}

.stacked-buttons li > a {
    width: 100%;
}

.github {
    font-size: 30px;
    font-weight:bold;
    color: black;
}

.github:hover {
    color:#2ba6cb;
}

.elophant {
    margin-top: 5px;
    background: black;
    padding: 5px 10px;

}

#alertbox {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}